@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

// breakpoint variable, from https://quasar.dev/style/breakpoints
$xs-breakpoint: 718px;
$sm-breakpoint: 1024px;
$md-breakpoint: 1439px;
$lg-breakpoint: 1920px;

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $xs-breakpoint) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: $sm-breakpoint) {
  .container,
  .container-sm,
  .container-md {
    max-width: 920px;
  }
}

@media (min-width: $md-breakpoint) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 1140px;
  }
}

@media (min-width: $lg-breakpoint) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1440px;
  }
}

.q-header,
.q-footer {
  z-index: 100;
}

.q-item {
  .q-focus-helper {
    visibility: hidden;
  }
}

.q-item {
  padding: 0 0;
}

.q-radio__label {
  flex: 1;
}

.q-checkbox__label {
  flex: 1;
}

.vue-number-input--small {
  width: 7rem;
}

.q-field__native,
.q-field__prefix,
.q-field__suffix,
.q-field__input {
  font-weight: 600 !important;
}

.q-field__label {
  font-weight: 600 !important;
}

.q-field--standard .q-field__control:before {
  border-bottom: none !important;
}

.satisfy-font {
  font-family: 'Satisfy', cursive;
}
